<h2>Detalhes do fornecedor: <strong><%= @supplier.name%></strong></h2>
<div>
    <dl>
      <dt><strong>CNPJ:</strong></dt>
      <dd><%= @supplier.cnpj%></dd>

      <dt><strong>e-mail:</strong></dt>
      <dd><%= @supplier.email%></dd>

      <dt><strong>Razão social: </strong></dt>
      <dd><%= @supplier.corporate_name%> </dd>
      
      <dt><strong>Endereço: </strong></dt>
      <dd><%= @supplier.adress%> </dd>

      <dt><strong>Telefone: </strong></dt>
      <dd><%= @supplier.phone%> </dd>
    </dl>
  
</div>