<h1>Detalhes do galpão: <strong><%= @warehouse.name%></strong></h1>
<h2><strong>Descrição: </strong><%= @warehouse.description%></h2>

<div>
    <dl>
      <dt><strong>Cidade:</strong></dt>
      <dd><%= @warehouse.city%></dd>

      <dt><strong>Código:</strong></dt>
      <dd><%= @warehouse.city_code%></dd>

      <dt><strong>Área: </strong></dt>
      <dd><%= @warehouse.area%> m²</dd>
      
      <dt><strong>Endereço: </strong></dt>
      <dd><%= @warehouse.adress%> ; <strong>CEP: </strong><%=@warehouse.cep%></dd>
    </dl>
  <div>
  <a href='/'>Voltar</a>
  <%= button_to('Deletar', warehouse_path(@warehouse.id), method: :delete)%>
  </div>
  <p>
  <%= link_to('Editar Galpão', edit_warehouse_path(@warehouse.id))%>
  </p>
</div>
