<h>Detalhes do galpão: <%= @warehouse.name%></h>
<div>
  <strong>Cidade: </strong><%= @warehouse.city%>
  <strong>Código: </strong><%= @warehouse.city_code%>
  <strong>Área: </strong><%= @warehouse.area%> m²
  <strong>Endereço: </strong><%= @warehouse.adress%> ; <strong>CEP: </strong><%=@warehouse.cep%>
  <strong>Descrição: </strong><%= @warehouse.description%>
  <a href='/'>Voltar</a>

</div>
